           body {
               background: #7F7FD5;
               background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
               background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
               width: 100%;
           }
           
           .container {
               max-width: 90%;
               width: 380px;
               max-height: 80%;
               height: 80%;
               border: none;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 1fr 4fr;
               grid-template-areas: 'display-screen' 'keypads';
               box-shadow: -2px 5px 20px -2px rgba(0, 0, 0, 0.75);
               box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.75);
               border-radius: 15px;
           }
           
           .display-screen {
               grid-area: display-screen;
               display: flex;
               align-items: flex-end;
               justify-content: space-between;
               flex-direction: column;
               padding: 15px 10px;
           }
           
           .compute {
               font-size: 1.5rem;
           }
           
           .answer {
               font-size: 1.8rem;
           }
           
           .keypads {
               grid-area: keypads;
               display: grid;
               grid-template-columns: repeat(4, 1fr);
               grid-template-rows: repeat(5, 1fr);
               grid-gap: 2px;
           }
           
           .span-two {
               grid-column: 1/3;
               background-color: tomato;
           }
           
           .span-two:hover {
               background-color: rgb(255, 38, 0);
           }
           
           .span-two-1 {
               grid-row: 5;
               grid-column: 3/span 2;
               background-color: #57C75E;
           }
           
           .span-two-1:hover {
               background-color: #29df35;
           }
           
           button {
               font-size: 22px;
               font-weight: 600;
               font-family: monospace;
               border: none;
               text-decoration: none;
               opacity: 0.8;
               background: #E6D1F0;
               cursor: pointer;
               transition: all 0.5s;
               border-radius: 3px;
           }
           
           .operator {
               background: #C6D788;
           }
           
           .del {
               background: rgb(255, 70, 70);
           }
           
           .del:hover {
               background: rgb(255, 0, 0);
           }
           
           button:hover {
               background: #d6aaeb;
               box-shadow: 0px 2px 10px 5px #1abc9c;
               color: #000;
           }
           
           .operator:hover {
               background: #c2e055;
           }
           
           button:active {
               color: red;
               transform: translateY(0) rotate(10deg);
           }